.benefits > .container {
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    padding: 120px 85px 120px 115px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: flex-end;
  margin-top: 44px;

  @include tablet {
    max-width: 450px;
    margin-left: auto;
    margin-right: 0;
  }

  @include desktop {
    max-width: 370px;
    margin-left: 0;
    margin-right: 130px;
  }
}

.benefits-item {
  width: 130px;
  height: 133px;
  padding: 24px 20px;
  text-align: center;
  background-color: $barbers-bg-color;
  @include mobile {
    width: 193px;
  }
  @include tablet {
    width: 210px;
  }
  @include desktop {
    width: 170px;
  }
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $accent-color;
  vertical-align: super;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.benefits-title {
  max-width: 450px;
}

.benefits-title::before {
  content: "¿";
}

.benefits-item:nth-child(2) {
  margin-top: 35px;
}
.benefits-item:nth-child(3) {
  margin-top: -5px;
  margin-bottom: 35px;
}
.benefits-item:nth-child(4) {
  margin-top: 30px;
}

.benefits-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $fifth-text-color;
  max-width: 500px;
}
