.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $second-text-color;
  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 20px;
  transition: color 250ms ease, background-color 250ms ease;
}

.btn:hover,
.btn:focus {
  background-color: $accent-color;
  color: $second-text-color;
}
